@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #29608A;
    --secondary: #81E981;

    --font-default: "Roboto Serif", serif;
    --padding-default: 2rem;
    --margin-default: 1.6rem;
}

body{
    font-family: var(--font-default);
}

.container-appointment{
    padding: var(--padding-default);
}


.appointment__date-select{
    padding: calc(var(--padding-default) / 2);
    border-radius: 6px;
    background-color: var(--primary);
}

.calendar h1{
    margin-bottom: 1.375rem;
    font-weight: 300;
    color: white;
    font-size: 1.75rem;
    text-align: center;
}

.appointment__date-select-title{
    margin-bottom: 1.3125rem;
    font-size: 1.25rem;
    font-weight: 100;
    text-align: center;
    color: white;
}

.appointment__week, .appointment__days
{
    margin-bottom: var(--margin-default);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 0.8125rem;
    font-weight: 100;
    color: white;
    text-align: center;
}

#selected-week, #seleceted-day{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background-color: var(--secondary);
}
