@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #29608A;
    --secondary: #81E981;

    --font-default: "Roboto Serif", serif;
    --padding-default: 2rem;
    --margin-default: 1.6rem;
}