body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    background-color: var(--primary);
    font-family: var(--font-default);
}

/* Estilos dos elementos top login */

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-login {
    padding: 2rem;
    margin-bottom: .5rem;
    color: #FFF;
}

.title_login-screen {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5625rem
}

.info_login-screen {
    font-size: 1rem;
    font-weight: 100;
}

/* Estilos do form*/

.form-login {
    width: 100%;
    padding-top: calc(var(--padding-default) / 4);
    padding-bottom: calc(var(--padding-default) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}

.label-login {
    color: #FFF;
    font-weight: 100;
}

.input-login {
    padding: .4rem;
    width: 17.5rem;
    border-radius: 6px;
    border: none;
}

.input-login:valid {
    outline: 1px solid var(--secondary);
}

.message-error-login{
    color: white;
    font-size: 0.845rem;
    font-weight: 100;
}

.container_btn {
    padding: var(--padding-default);
    /* border: 1px solid red; */
}

.container_btn button {
    padding: .8rem;
    margin-bottom: .8rem;
    width: 17.5rem;
    display: block;
    border-radius: 8px;
    border: none;
    background-color: var(--secondary);
}

.container_btn > .btn_register{
    padding: .8rem;
    margin-bottom: .8rem;
    width: 17.5rem;
    display: block;
    border-radius: 8px;
    border: none;
    background-color: var(--secondary);
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: .8125rem;
}

.container_link-login a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .3rem;
    color: white;
    font-weight: 100;
}
